#list_wrap4{clear:both; height:630px;}
#list_wrap4 h2{font-size: 20px; letter-spacing: -1px; margin-left:20px; margin-top: 30px; margin-bottom: 20px;} 
.con4{font-size: 14px; line-height: 2em;text-align: justify; margin:20px;}
.con4 p:first-child{text-align: center;}