#list_wrap2{clear:both; height:600px;}
  #list_wrap2 h2{font-size: 20px; letter-spacing: -1px; margin-left:20px; margin-top: 30px; margin-bottom: 20px;} 
  #list_wrap2 p{background: url(../../public/images/sub01_bg.jpg) no-repeat center top; padding-top:170px; margin:10px; line-height: 2em; font-size: 13px; text-align: justify;}